@use 'sass:math';

:root{
    --radius-default: 10px;

    --space-default: 2em;
}


*{
    box-sizing: border-box;
    &::before,
    &::after{
        box-sizing: border-box;
    }
}

a{
    color: inherit;
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

ul,ol,li{
    margin: 0;
    padding: 0;
}

$baseFontSize: 18;
body{
    margin: 0;
    font-family: "DotGothic16", sans-serif;
    letter-spacing: .05em;
    line-height: 1.75;
    text-underline-offset: .25em;
    @media (orientation: landscape){
        font-size: min(#{(math.div($baseFontSize, 960) * 100cqh)}, #{$baseFontSize}px);
    }
    @media (orientation: portrait){
        font-size: min(#{(math.div($baseFontSize, 960) * 100cqw)}, #{$baseFontSize}px);
    }
}


.infoBox{
    &__inner{
        padding: var(--space-default);
        border: 2px solid #fff;
        border-radius: var(--radius-default);
    }

    .columnBlock-l{
        grid-column: 1;
        .infoBox__inner{
            height: 100%;
        }
    }
    .columnBlock-r{
        grid-column: 2;
    }
}
.statusBox{
    height: 100%;
    overflow: scroll;
}